# STADVDB MCO 1

[GitHub repository](https://github.com/420Rain/STADVDB_MCO1.git) 

**BALAJADIA**, John Ryan Uy<br />
**DULATRE**, Rainier Antolin<br />
**MARQUESES**, Simon Anthony Asuncion<br />


<br> <!-- Cell padder -->
<a name="setup"></a>
## Importing and data frame setup

---

In [69]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
# import ipywidgets as widgets
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os, pandas as pd

load_dotenv()

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

True

In [ ]:
# postgresql://username:password@hostname/dbname
conn_str = f"postgresql://{os.getenv("DB_USER")}:{os.getenv("DB_PASSWORD")}@{os.getenv("DB_HOST")}/{os.getenv("DB_DATABASE")}"
conn_str = "postgresql://anthonylibut:stadvdbgroup19@localhost/postgres"
%sql $conn_str

engine = create_engine(conn_str)

In [65]:
import olap_queries as oq

queries = oq.OLAP(engine)

In [96]:
%%sql
SELECT dt.primary_title,
  ftr.average_rating,
  ftr.num_votes
  FROM dw_schema.fact_title_ratings AS ftr
  JOIN dw_schema.dim_title AS dt
  ON ftr.title_key = dt.title_key
  JOIN dw_schema.dim_date AS dd
  ON ftr.date_key = dd.date_key
  WHERE ftr.num_votes > 20000
      AND dt.start_year = 2019
      AND dt.title_type = 'movie'
  ORDER BY ftr.average_rating DESC
  LIMIT 100;

 * postgresql://anthonylibut:***@localhost/postgres
100 rows affected.

[('Jersey', Decimal('8.5'), 26360),
 ('Parasite', Decimal('8.5'), 1105251),
 ('Kumbalangi Nights', Decimal('8.5'), 20696),
 ('Asuran', Decimal('8.4'), 36435),
 ('Kaithi', Decimal('8.4'), 49083),
 ('Avengers: Endgame', Decimal('8.4'), 1392882),
 ('Agent Sai Srinivasa Athreya', Decimal('8.3'), 20391),
 ('Joker', Decimal('8.3'), 1644997),
 ('Chhichhore', Decimal('8.3'), 70290),
 ('Uri: The Surgical Strike', Decimal('8.2'), 78099),
 ('Klaus', Decimal('8.2'), 220505),
 ('Miracle in Cell No. 7', Decimal('8.2'), 60530),
 ('1917', Decimal('8.2'), 745375),
 ('The Tashkent Files', Decimal('8.1'), 37564),
 ('Section 375', Decimal('8.1'), 20147),
 ('Apollo 11', Decimal('8.1'), 28222),
 ('Article 15', Decimal('8.1'), 39780),
 ('Ford v Ferrari', Decimal('8.1'), 544605),
 ('Honeyland', Decimal('8.0'), 20193),
 ('Portrait of a Lady on Fire', Decimal('8.0'), 122777),
 ('Marriage Story', Decimal('7.9'), 365055),
 ('Jojo Rabbit', Decimal('7.9'), 475998),
 ('Super 30', Decimal('7.9'), 40555),
 ('Knives Out', Decimal('7.9'), 833424),
 ('Gully Boy', Decimal('7.9'), 45913),
 ('Togo', Decimal('7.9'), 59744),
 ('Little Women', Decimal('7.8'), 274158),
 ('The Irishman', Decimal('7.8'), 460773),
 ('The Gentlemen', Decimal('7.8'), 442806),
 ('Corpus Christi', Decimal('7.7'), 23398),
 ('Law of Tehran', Decimal('7.7'), 20526),
 ('Badla', Decimal('7.7'), 33195),
 ('Sound of Metal', Decimal('7.7'), 163399),
 ('Toy Story 4', Decimal('7.6'), 304124),
 ('The Peanut Butter Falcon', Decimal('7.6'), 116622),
 ('Once Upon a Time... in Hollywood', Decimal('7.6'), 931495),
 ('The Art of Racing in the Rain', Decimal('7.6'), 45677),
 ('Dark Waters', Decimal('7.6'), 118181),
 ('Just Mercy', Decimal('7.6'), 82034),
 ('The Two Popes', Decimal('7.6'), 144092),
 ('Sorry We Missed You', Decimal('7.6'), 27678),
 ('The Boy Who Harnessed the Wind', Decimal('7.6'), 49975),
 ('Les Misérables', Decimal('7.6'), 29986),
 ('Weathering with You', Decimal('7.5'), 66232),
 ('Waves', Decimal('7.5'), 36164),
 ('The Farewell', Decimal('7.5'), 74719),
 ('Pain and Glory', Decimal('7.5'), 66253),
 ('Richard Jewell', Decimal('7.5'), 104456),
 ('I Lost My Body', Decimal('7.5'), 38171),
 ('Downton Abbey', Decimal('7.4'), 68850),
 ('American Factory', Decimal('7.4'), 24790),
 ('John Wick: Chapter 3 - Parabellum', Decimal('7.4'), 466273),
 ('The Lighthouse', Decimal('7.4'), 291044),
 ('Uncut Gems', Decimal('7.4'), 341408),
 ('Spider-Man: Far from Home', Decimal('7.4'), 614977),
 ("A Dog's Journey", Decimal('7.4'), 31809),
 ('How to Train Your Dragon: The Hidden World', Decimal('7.4'), 171672),
 ('La belle époque', Decimal('7.4'), 21402),
 ('A Hidden Life', Decimal('7.4'), 31051),
 ('Kesari', Decimal('7.4'), 25132),
 ('Doctor Sleep', Decimal('7.3'), 235901),
 ('Official Secrets', Decimal('7.3'), 58995),
 ('Rocketman', Decimal('7.3'), 205689),
 ('The Best of Enemies', Decimal('7.3'), 21214),
 ('The King', Decimal('7.3'), 169774),
 ('Bacurau', Decimal('7.3'), 33083),
 ('Alita: Battle Angel', Decimal('7.3'), 317092),
 ('El Camino', Decimal('7.3'), 326231),
 ('The Professor and the Madman', Decimal('7.2'), 53896),
 ('An Officer and a Spy', Decimal('7.2'), 22689),
 ('Honey Boy', Decimal('7.2'), 42445),
 ('Five Feet Apart', Decimal('7.2'), 93519),
 ('Dolemite Is My Name', Decimal('7.2'), 67160),
 ('A Beautiful Day in the Neighborhood', Decimal('7.2'), 92560),
 ('The Last Black Man in San Francisco', Decimal('7.2'), 22804),
 ('The Report', Decimal('7.2'), 55105),
 ('Fyre', Decimal('7.2'), 54097),
 ('Babyteeth', Decimal('7.2'), 20233),
 ('Mosul', Decimal('7.1'), 32400),
 ('Marighella', Decimal('7.1'), 56643),
 ('First Cow', Decimal('7.1'), 23632),
 ('Bad Education', Decimal('7.1'), 45388),
 ('Booksmart', Decimal('7.1'), 137688),
 ('Midsommar', Decimal('7.1'), 463657),
 ('Queen & Slim', Decimal('7.1'), 36530),
 ('The Platform', Decimal('7.0'), 314391),
 ('Ip Man 4: The Finale', Decimal('7.0'), 39631),
 ('Kabir Singh', Decimal('7.0'), 44178),
 ('Fighting with My Family', Decimal('7.0'), 91992),
 ('Shazam!', Decimal('7.0'), 406557),
 ('The Great Hack', Decimal('7.0'), 25594),
 ('The Gangster, the Cop, the Devil', Decimal('7.0'), 30671),
 ('Abominable', Decimal('7.0'), 45730),
 ('The Dirt', Decimal('7.0'), 59279),
 ('Aladdin', Decimal('6.9'), 308279),
 ('The Highwaymen', Decimal('6.9'), 111244),
 ("The Wolf's Call", Decimal('6.9'), 23545),
 ('Blinded by the Light', Decimal('6.9'), 28229),
 ('Us', Decimal('6.8'), 378676),
 ('Good Newwz', Decimal('6.8'), 23626)]

In [99]:
%%sql
WITH RollUpHierarchy AS (
  SELECT
    title_key,
    title_type,
    CASE
      WHEN title_type IN ('tvEpisode', 'tvMiniSeries', 'tvMovie', 'tvPilot', 'tvSeries', 'tvShort', 'tvSpecial') THEN 'Television'
      WHEN title_type IN ('movie', 'short', 'video') THEN 'Film'
      ELSE 'Other'
    END AS broad_type
  FROM dw_schema.dim_title
)
SELECT broad_type,
  title_type,
  COUNT(*) AS number_of_titles
FROM RollUpHierarchy
GROUP BY ROLLUP (broad_type, title_type)
ORDER BY broad_type, title_type;

 * postgresql://anthonylibut:***@localhost/postgres
15 rows affected.

[('Film', 'movie', 728170),
 ('Film', 'short', 1087856),
 ('Film', 'video', 317067),
 ('Film', None, 2133093),
 ('Other', 'videoGame', 45424),
 ('Other', None, 45424),
 ('Television', 'tvEpisode', 9211339),
 ('Television', 'tvMiniSeries', 65525),
 ('Television', 'tvMovie', 152612),
 ('Television', 'tvPilot', 1),
 ('Television', 'tvSeries', 288804),
 ('Television', 'tvShort', 10779),
 ('Television', 'tvSpecial', 54877),
 ('Television', None, 9783937),
 (None, None, 11962454)]

In [ ]:
%%sql
WITH RollUpHierarchy AS (
  SELECT
    title_key,
    title_type,
    CASE
      WHEN title_type IN ('tvEpisode', 'tvMiniSeries', 'tvMovie', 'tvPilot', 'tvSeries', 'tvShort', 'tvSpecial') THEN 'Television'
      WHEN title_type IN ('movie', 'short', 'video') THEN 'Film'
      ELSE 'Other'
    END AS broad_type
  FROM dw_schema.dim_title
)
SELECT ruh.broad_type,
  COUNT(*) AS number_of_titles,
  ROUND(AVG(ftr.average_rating), 2) AS overall_average_rating
FROM dw_schema.fact_title_ratings AS ftr
JOIN RollUpHierarchy AS ruh
  ON ruh.title_key = ftr.title_key
WHERE ruh.broad_type IN ('Television', 'Film')
  AND ftr.num_votes > 500
GROUP BY ruh.broad_type
ORDER BY overall_average_rating DESC;

 * postgresql://anthonylibut:***@localhost/postgres
18 rows affected.

[('Sort  (cost=289439.43..289439.46 rows=10 width=72)',),
 ('  Sort Key: (round(avg(ftr.average_rating), 2)) DESC',),
 ('  ->  Finalize GroupAggregate  (cost=289429.17..289439.27 rows=10 width=72)',),
 ("        Group Key: (CASE WHEN ((dim_title.title_type)::text = ANY ('{tvEpisode,tvMiniSeries,tvMovie,tvPilot,tvSeries,tvShort,tvSpecial}'::text[])) THEN 'Television'::text WHEN ((dim_title.title_type)::text = ANY ('{movie,short,video}'::text[])) THEN 'Film'::text ELSE 'Other'::text END)",),
 ('        ->  Gather Merge  (cost=289429.17..289438.75 rows=24 width=72)',),
 ('              Workers Planned: 2',),
 ('              ->  Partial GroupAggregate  (cost=288429.15..288435.96 rows=10 width=72)',),
 ("                    Group Key: (CASE WHEN ((dim_title.title_type)::text = ANY ('{tvEpisode,tvMiniSeries,tvMovie,tvPilot,tvSeries,tvShort,tvSpecial}'::text[])) THEN 'Television'::text WHEN ((dim_title.title_type)::text = ANY ('{movie,short,video}'::text[])) THEN 'Film'::text ELSE 'Other'::text END)",),
 ('                    ->  Sort  (cost=288429.15..288430.79 rows=656 width=38)',),
 ("                          Sort Key: (CASE WHEN ((dim_title.title_type)::text = ANY ('{tvEpisode,tvMiniSeries,tvMovie,tvPilot,tvSeries,tvShort,tvSpeci ... (5 characters truncated) ... :text[])) THEN 'Television'::text WHEN ((dim_title.title_type)::text = ANY ('{movie,short,video}'::text[])) THEN 'Film'::text ELSE 'Other'::text END)",),
 ('                          ->  Nested Loop  (cost=1781.66..288398.46 rows=656 width=38)',),
 ('                                ->  Parallel Bitmap Heap Scan on fact_title_ratings ftr  (cost=1781.22..12943.65 rows=65634 width=14)',),
 ('                                      Recheck Cond: (num_votes > 500)',),
 ('                                      ->  Bitmap Index Scan on ratings_votes_idx  (cost=0.00..1741.84 rows=157522 width=0)',),
 ('                                            Index Cond: (num_votes > 500)',),
 ('                                ->  Index Scan using dim_title_pkey on dim_title  (cost=0.43..4.20 rows=1 width=17)',),
 ('                                      Index Cond: (title_key = ftr.title_key)',),
 ("                                      Filter: (CASE WHEN ((title_type)::text = ANY ('{tvEpisode,tvMiniSeries,tvMovie,tvPilot,tvSeries,tvShort,tvSpeci ... (31 characters truncated) ... '::text WHEN ((title_type)::text = ANY ('{movie,short,video}'::text[])) THEN 'Film'::text ELSE 'Other'::text END = ANY ('{Television,Film}'::text[]))",)]

In [ ]:
%%sql
SELECT dp.primary_name,
  COUNT(DISTINCT(dt.title_key)) AS number_of_titles,
  ROUND(AVG(ftr.average_rating),2) AS average_ratings_of_titles
FROM dw_schema.fact_title_principals AS ftp
JOIN dw_schema.dim_person AS dp
  ON ftp.person_key = dp.person_key
JOIN dw_schema.dim_title AS dt
  ON ftp.title_key = dt.title_key
JOIN dw_schema.fact_title_ratings AS ftr
  ON ftp.title_key = ftr.title_key
WHERE ftr.num_votes > 500
GROUP BY dp.primary_name
HAVING COUNT(DISTINCT(dt.title_key)) >= 5
ORDER BY number_of_titles DESC,
  average_ratings_of_titles DESC
LIMIT 100;

 * postgresql://anthonylibut:***@localhost/postgres
25 rows affected.

[('Limit  (cost=2031214.53..2031214.78 rows=100 width=54)',),
 ('  ->  Sort  (cost=2031214.53..2032248.02 rows=413397 width=54)',),
 ('        Sort Key: (count(DISTINCT dt.title_key)) DESC, (round(avg(ftr.average_rating), 2)) DESC',),
 ('        ->  GroupAggregate  (cost=1842036.18..2015414.79 rows=413397 width=54)',),
 ('              Group Key: dp.primary_name',),
 ('              Filter: (count(DISTINCT dt.title_key) >= 5)',),
 ('              ->  Gather Merge  (cost=1842036.18..1986476.98 rows=1240192 width=28)',),
 ('                    Workers Planned: 2',),
 ('                    ->  Sort  (cost=1841036.16..1842328.03 rows=516747 width=28)',),
 ('                          Sort Key: dp.primary_name, dt.title_key',),
 ('                          ->  Parallel Hash Join  (cost=501939.71..1779633.70 rows=516747 width=28)',),
 ('                                Hash Cond: (ftp.person_key = dp.person_key)',),
 ('                                ->  Parallel Hash Join  (cost=187314.76..1421567.29 rows=516747 width=22)',),
 ('                                      Hash Cond: (ftp.title_key = dt.title_key)',),
 ('                                      ->  Parallel Seq Scan on fact_title_principals ftp  (cost=0.00..1084940.03 rows=39242503 width=16)',),
 ('                                      ->  Parallel Hash  (cost=186494.34..186494.34 rows=65634 width=22)',),
 ('                                            ->  Nested Loop  (cost=1781.66..186494.34 rows=65634 width=22)',),
 ('                                                  ->  Parallel Bitmap Heap Scan on fact_title_ratings ftr  (cost=1781.22..12943.65 rows=65634 width=14)',),
 ('                                                        Recheck Cond: (num_votes > 500)',),
 ('                                                        ->  Bitmap Index Scan on ratings_votes_idx  (cost=0.00..1741.84 rows=157522 width=0)',),
 ('                                                              Index Cond: (num_votes > 500)',),
 ('                                                  ->  Index Only Scan using dim_title_pkey on dim_title dt  (cost=0.43..2.64 rows=1 width=8)',),
 ('                                                        Index Cond: (title_key = ftr.title_key)',),
 ('                                ->  Parallel Hash  (cost=201734.31..201734.31 rows=6148931 width=22)',),
 ('                                      ->  Parallel Seq Scan on dim_person dp  (cost=0.00..201734.31 rows=6148931 width=22)',)]

In [ ]:
%%sql
SELECT dp.primary_name,
  COUNT(DISTINCT(dt.title_key)) AS number_of_titles,
  ROUND(AVG(ftr.average_rating),2) AS average_ratings_of_titles
FROM dw_schema.fact_title_principals AS ftp
JOIN dw_schema.dim_person AS dp
  ON ftp.person_key = dp.person_key
JOIN dw_schema.dim_title AS dt
  ON ftp.title_key = dt.title_key
JOIN dw_schema.fact_title_ratings AS ftr
  ON ftp.title_key = ftr.title_key
JOIN dw_schema.dim_role AS dr
  ON ftp.role_key = dr.role_key
WHERE ftr.num_votes > 500
AND dr.category = 'director'
GROUP BY dp.primary_name
HAVING COUNT(DISTINCT(dt.title_key)) >= 500
ORDER BY number_of_titles DESC,
  average_ratings_of_titles DESC

1322727.41..1322727.42

 * postgresql://anthonylibut:***@localhost/postgres
1 rows affected.

[('Hayato Date', 540, Decimal('7.67'))]

In [105]:
%%sql
SELECT dt.primary_title,
  ftr.average_rating,
  ftr.num_votes
FROM dw_schema.fact_title_principals AS ftp
JOIN dw_schema.dim_person AS dp
  ON ftp.person_key = dp.person_key
JOIN dw_schema.dim_title AS dt
  ON ftp.title_key = dt.title_key
JOIN dw_schema.fact_title_ratings AS ftr
  ON ftp.title_key = ftr.title_key
JOIN dw_schema.dim_role AS dr
  ON ftp.role_key = dr.role_key
WHERE dr.category = 'director'
  AND dp.primary_name = 'Hayao Miyazaki'
ORDER BY ftr.average_rating DESC;

 * postgresql://anthonylibut:***@localhost/postgres
94 rows affected.

[('Indasutoria no saigo', Decimal('8.6'), 146),
 ('Spirited Away', Decimal('8.6'), 933608),
 ('Ootsunami', Decimal('8.4'), 127),
 ('Farewell My Beloved Lupin', Decimal('8.4'), 107),
 ('Princess Mononoke', Decimal('8.3'), 470068),
 ('Indasutoria', Decimal('8.3'), 137),
 ('Rao hakase', Decimal('8.2'), 124),
 ("Howl's Moving Castle", Decimal('8.2'), 495484),
 ("Conan the Future Boy: The Big Giant Robot's Resurrection", Decimal('8.2'), 831),
 ('Daisu no hangyaku', Decimal('8.2'), 136),
 ('Kyuushutsu', Decimal('8.2'), 114),
 ('Giganto', Decimal('8.2'), 119),
 ("Daidan'en", Decimal('8.2'), 126),
 ('Futari no koya', Decimal('8.2'), 125),
 ('Ganbôto', Decimal('8.2'), 116),
 ('Futatabi Indasutoria e', Decimal('8.2'), 117),
 ('Dasshutsu', Decimal('8.2'), 127),
 ('Kouya', Decimal('8.1'), 123),
 ('Wings of Death: Albatross', Decimal('8.1'), 109),
 ('Sentou', Decimal('8.1'), 118),
 ('Koaburokku', Decimal('8.1'), 123),
 ('Taiyoutou', Decimal('8.1'), 116),
 ('The Day I Bought a Star', Decimal('8.1'), 395),
 ('Haihâbâ', Decimal('8.1'), 123),
 ('My Neighbor Totoro', Decimal('8.1'), 417798),
 ('Shima no ichinichi', Decimal('8.1'), 122),
 ('Tabidachi', Decimal('8.1'), 150),
 ('Hajimete no nakama', Decimal('8.0'), 148),
 ('Nausicaä of the Valley of the Wind', Decimal('8.0'), 193283),
 ('Residents Under the Ground', Decimal('8.0'), 115),
 ('Sarubeejisen', Decimal('8.0'), 129),
 ('Castle in the Sky', Decimal('8.0'), 193883),
 ('Tsuiseki', Decimal('8.0'), 130),
 ('Nokosarejima', Decimal('8.0'), 186),
 ('Barakûdagou', Decimal('8.0'), 139),
 ('Mei and the Kitten Bus', Decimal('7.9'), 1847),
 ('Toubou', Decimal('7.9'), 126),
 ("Little Martha's Big Mystery!?", Decimal('7.9'), 85),
 ('Conan, the Boy in Future', Decimal('7.8'), 238),
 ("Kiki's Delivery Service", Decimal('7.8'), 181757),
 ('The Air Battle Over Dover!', Decimal('7.8'), 59),
 ('The Wind Rises', Decimal('7.8'), 109064),
 ('Boro the Caterpillar', Decimal('7.8'), 298),
 ('House-hunting', Decimal('7.7'), 251),
 ('Blue Ruby', Decimal('7.7'), 92),
 ('The Targeted Giant Coin Bank', Decimal('7.7'), 57),
 ('Porco Rosso', Decimal('7.7'), 112504),
 ('The Kidnapping Case of Mrs. Hudson', Decimal('7.7'), 84),
 ('Ponyo', Decimal('7.6'), 179488),
 ('Lupin III: The Castle of Cagliostro', Decimal('7.6'), 35286),
 ('Monmon the Water Spider', Decimal('7.6'), 467),
 ('Mr. Dough and the Egg Princess', Decimal('7.5'), 950),
 ("Koro's Big Day Out", Decimal('7.4'), 207),
 ('The Whale Hunt', Decimal('7.4'), 219),
 ('The Boy and the Heron', Decimal('7.4'), 102856),
 ('Treasure Under the Sea', Decimal('7.4'), 64),
 ("Let's Catch Lupin and Go to Europe", Decimal('7.3'), 106),
 ('The All-Together Playing-Card Operation', Decimal('7.3'), 119),
 ('Lupin Caught in a Trap', Decimal('7.3'), 105),
 ('The Monster of the Thames River', Decimal('7.2'), 42),
 ('The Magic Castle! Holmes, Dead or Alive?', Decimal('7.2'), 41),
 ("Missing Freight Car!? The Professor's Big Magic Trick", Decimal('7.2'), 45),
 ('The Evil Genius, Professor Moriarty', Decimal('7.2'), 72),
 ('Grand Flight Championship of Chaos!?', Decimal('7.1'), 41),
 ('Solve the Mystery of the Green Balloon!', Decimal('7.1'), 55),
 ('Which of the Third Generation Will Win!', Decimal('7.1'), 105),
 ('A Wolf Calls a Wolf', Decimal('7.1'), 131),
 ('The Great Gold Showdown!', Decimal('7.1'), 104),
 ('Imaginary Flying Machines', Decimal('7.1'), 80),
 ('When the Seventh Bridge Falls', Decimal('7.0'), 115),
 ('Listen! The Tribute to Moriarty', Decimal('7.0'), 39),
 ('Look! The Shining Thief', Decimal('7.0'), 40),
 ('Rescue the Tomboy!', Decimal('7.0'), 103),
 ('Blundered Operation at Loch Ness!', Decimal('6.9'), 42),
 ('The Speckled Band', Decimal('6.9'), 49),
 ('Buzz Buzz! The Fly Fly Mecha Operation', Decimal('6.9'), 38),
 ('Good-bye Holmes! The Last Case', Decimal('6.9'), 39),
 ('Keep an Eye on the Beauty Contest', Decimal('6.9'), 104),
 ('The First Move Wins Computer Operation!', Decimal('6.8'), 100),
 ('The Great Chase of the Little Detectives', Decimal('6.8'), 53),
 ('Gourmet! The Coral Lobsters', Decimal('6.8'), 42),
 ("He's the Famous Detective", Decimal('6.8'), 90),
 ('Chase the Airship White Silver!', Decimal('6.8'), 39),
 ('Operation Jewel Snatch', Decimal('6.7'), 102),
 ('Hunt Down the Counterfeiter!', Decimal('6.7'), 112),
 ('Catch the Phony Lupin!', Decimal('6.7'), 103),
 ('Beware the Time Machine!', Decimal('6.7'), 113),
 ('Game of Wits! Parrot vs Professor', Decimal('6.6'), 36),
 ("The Professor's Big Failure in the Storm!!", Decimal('6.6'), 44),
 ('Chaos! The Doll Swap Case', Decimal('6.5'), 37),
 ('The Soseki Kite Battle Over London!', Decimal('6.5'), 38),
 ("The Emerald's Secret", Decimal('6.4'), 107),
 ("Yuki's Sun", Decimal('5.9'), 1573),
 ('Nandarou', Decimal('5.6'), 174)]

In [84]:
%%sql
SELECT dd.decade,
  COUNT(ftr.title_key) number_of_films
FROM dw_schema.fact_title_ratings AS ftr
JOIN dw_schema.dim_title AS dt
  ON ftr.title_key = dt.title_key
JOIN dw_schema.dim_date AS dd
  ON ftr.date_key = dd.date_key
WHERE dt.title_type = 'movie'
  AND ftr.num_votes > 1000
  AND ftr.average_rating > 6.0
  AND ftr.average_rating < 10.0
GROUP BY dd.decade
ORDER BY dd.decade;

 * postgresql://anthonylibut:***@localhost/postgres
12 rows affected.

[(1910, 50),
 (1920, 221),
 (1930, 712),
 (1940, 1021),
 (1950, 1319),
 (1960, 1540),
 (1970, 1796),
 (1980, 2014),
 (1990, 2741),
 (2000, 5182),
 (2010, 8160),
 (2020, 4664)]

In [106]:
%%sql
SELECT
  ep.season_number,
  COUNT(*) as number_of_episodes,
  ROUND(AVG(ftr.average_rating),2) AS season_rating
FROM dw_schema.fact_title_ratings AS ftr
JOIN dw_schema.dim_title AS ep
  ON ftr.title_key = ep.title_key
JOIN dw_schema.dim_title AS sea
  ON ep.parent_tconst = sea.tconstid
WHERE
  sea.primary_title = 'Steins;Gate'
  AND ep.season_number IS NOT NULL
GROUP BY ep.season_number
ORDER BY ep.season_number;

 * postgresql://anthonylibut:***@localhost/postgres
1 rows affected.

[(1, 25, Decimal('8.45'))]

In [ ]:
%%sql
WITH top_genre AS (
  SELECT
    dt.title_language,
    dt.genre_1,
    AVG(ftr.average_rating) AS avg_rating,
    SUM(ftr.num_votes) AS total_votes,
    ROW_NUMBER() OVER (PARTITION BY dt.title_language ORDER BY AVG(ftr.average_rating) DESC) AS ranked_order
  FROM dw_schema.fact_title_ratings AS ftr
  JOIN dw_schema.dim_title AS dt
    ON ftr.title_key = dt.title_key
  WHERE dt.title_type = 'movie'
    AND ftr.num_votes > 1000
    AND dt.genre_1 IS NOT NULL
    AND dt.title_language IS NOT NULL
  GROUP BY dt.title_language, dt.genre_1
)
SELECT
  tg.title_language,
  tg.ranked_order,
  tg.genre_1,
  ROUND(tg.avg_rating,2) AS avg_rating,
  tg.total_votes
FROM top_genre AS tg
WHERE tg.ranked_order <= 3
ORDER BY tg.title_language, tg.ranked_order

 * postgresql://anthonylibut:***@localhost/postgres
0 rows affected.

[]

In [89]:
%%sql
WITH group_stats AS (
    SELECT
      t.is_adult,
      COUNT(r.average_rating) AS n,
      AVG(r.average_rating) AS mean,
      VAR_SAMP(r.average_rating) AS variance
    FROM dw_schema.fact_title_ratings AS r
    JOIN dw_schema.dim_title AS t
      ON r.title_key = t.title_key
    WHERE t.title_type = 'movie'
    GROUP BY t.is_adult
), adult_stats AS (
    SELECT
      n,
      mean,
      variance
    FROM group_stats
    WHERE is_adult = TRUE
), non_adult_stats AS (
    SELECT
      n,
      mean,
      variance
    FROM group_stats
    WHERE is_adult = FALSE
)
SELECT
  (non_adult_stats.mean - adult_stats.mean) / SQRT((non_adult_stats.variance / non_adult_stats.n) + (adult_stats.variance / adult_stats.n)) AS t_statistic_adult_vs_non_adult_rating
FROM adult_stats, non_adult_stats;

 * postgresql://anthonylibut:***@localhost/postgres
1 rows affected.

[(Decimal('36.550496810437751096363663'),)]

In [90]:
%%sql
WITH group_stats AS (
  SELECT
    d.century,
    COUNT(r.average_rating) AS n,
    AVG(r.average_rating) AS mean,
    VAR_SAMP(r.average_rating) AS variance
  FROM dw_schema.fact_title_ratings AS r
  JOIN dw_schema.dim_title AS t
    ON r.title_key = t.title_key
  JOIN dw_schema.dim_date AS d
    ON t.start_year = d.year
  WHERE t.title_type = 'movie' AND d.century IN (1800, 1900)
  GROUP BY d.century
), century_19_stats AS (
  SELECT
    n,
    mean,
    variance
  FROM group_stats
  WHERE century = 1800
), century_20_stats AS (
  SELECT
    n,
    mean,
    variance
  FROM group_stats
  WHERE century = 1900
)
SELECT
  (century_19_stats.mean - century_20_stats.mean) / SQRT((century_19_stats.variance / century_19_stats.n) + (century_20_stats.variance / century_20_stats.n)) AS t_statistic_century_rating_comparison
FROM century_19_stats, century_20_stats;

 * postgresql://anthonylibut:***@localhost/postgres
1 rows affected.

[(Decimal('-11.781175660360365288496499'),)]

In [91]:
%%sql
WITH group_stats AS (
  SELECT
    t.genre_1,
    COUNT(r.num_votes) AS n,
    AVG(r.num_votes) AS mean,
    VAR_SAMP(r.num_votes) AS variance
  FROM dw_schema.fact_title_ratings AS r
  JOIN dw_schema.dim_title AS t
    ON r.title_key = t.title_key
  WHERE t.genre_1 IN ('Action', 'Comedy') AND t.title_type = 'movie'
  GROUP BY t.genre_1
), action_stats AS (
  SELECT
    n,
    mean,
    variance
  FROM group_stats
  WHERE genre_1 = 'Action'
), comedy_stats AS (
  SELECT
    n,
    mean,
    variance
  FROM group_stats
  WHERE genre_1 = 'Comedy'
)
SELECT
  (action_stats.mean - comedy_stats.mean) / SQRT((action_stats.variance / action_stats.n) + (comedy_stats.variance / comedy_stats.n)) AS t_statistic_action_vs_comedy_votes
FROM action_stats, comedy_stats;

 * postgresql://anthonylibut:***@localhost/postgres
1 rows affected.

[(Decimal('20.3519838426744808'),)]

In [92]:
%%sql
WITH group_stats AS (
  SELECT
    d.decade,
    COUNT(t.end_year - t.start_year) AS n,
    AVG(t.end_year - t.start_year) AS mean,
    VAR_SAMP(t.end_year - t.start_year) AS variance
  FROM dw_schema.dim_title AS t
  JOIN dw_schema.dim_date AS d
    ON t.start_year = d.year
  WHERE t.title_type = 'tvSeries'
    AND t.end_year IS NOT NULL
    AND t.start_year IS NOT NULL
    AND t.end_year >= t.start_year
    AND d.decade IN (1990, 2010)
  GROUP BY d.decade
), stats_1990s AS (
  SELECT
    n,
    mean,
    variance
  FROM group_stats
  WHERE decade = 1990
), stats_2010s AS (
  SELECT
    n,
    mean,
    variance
  FROM group_stats
  WHERE decade = 2010
)
SELECT
  (stats_1990s.mean - stats_2010s.mean) / SQRT((stats_1990s.variance / stats_1990s.n) + (stats_2010s.variance / stats_2010s.n)) AS t_statistic_tv_series_lifespan
FROM stats_1990s, stats_2010s;

 * postgresql://anthonylibut:***@localhost/postgres
1 rows affected.

[(Decimal('39.728469781810218263853296'),)]

In [93]:
%%sql
WITH group_stats AS (
  SELECT
    CASE
      WHEN t.parent_tconst IS NOT NULL
      THEN 'Franchise'
      ELSE 'Standalone'
    END AS film_type,
    COUNT(r.num_votes) AS n,
    AVG(r.num_votes) AS mean,
    VAR_SAMP(r.num_votes) AS variance
  FROM dw_schema.fact_title_ratings as r
  JOIN dw_schema.dim_title as t
  ON r.title_key = t.title_key
  WHERE t.title_type = 'movie'
  GROUP BY film_type
), franchise_stats AS (
  SELECT
    n,
    mean,
    variance
  FROM group_stats
  WHERE film_type = 'Franchise'
), standalone_stats AS (
  SELECT
    n,
    mean,
    variance
  FROM group_stats
  WHERE film_type = 'Standalone'
)
SELECT
  (franchise_stats.mean - standalone_stats.mean) / SQRT((franchise_stats.variance / franchise_stats.n) + (standalone_stats.variance / standalone_stats.n)) AS t_statistic_franchise_vs_standalone_votes
FROM franchise_stats, standalone_stats;

 * postgresql://anthonylibut:***@localhost/postgres
0 rows affected.

[]

In [ ]:
engine.dispose()